<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-servicelist-heading" jhiTranslate="smartCpdApp.servicelist.home.createOrEditLabel">Create or edit a Servicelist</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!servicelist.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="servicelist.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.servicelist.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="servicelist.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.servicelist.company" for="field_company">Company</label>
                    <input type="text" class="form-control" name="company" id="field_company"
                        [(ngModel)]="servicelist.company" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.servicelist.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                        [(ngModel)]="servicelist.url" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.servicelist.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                        [(ngModel)]="servicelist.phone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.servicelist.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="servicelist.email" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.servicelist.areas" for="field_areas">Areas</label>
                    <input type="text" class="form-control" name="areas" id="field_areas"
                        [(ngModel)]="servicelist.areas" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.servicelist.speciality" for="field_speciality">Speciality</label>
                    <input type="text" class="form-control" name="speciality" id="field_speciality"
                        [(ngModel)]="servicelist.speciality" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.servicelist.trades" for="field_trades">Trades</label>
                    <input type="text" class="form-control" name="trades" id="field_trades"
                        [(ngModel)]="servicelist.trades" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.servicelist.customer" for="field_customer">Customer</label>
                    <select class="form-control" id="field_customer" name="customer" [(ngModel)]="servicelist.customer" required>
                        <option *ngIf="!editForm.value.customer" [ngValue]="null" selected></option>
                        <option [ngValue]="customerOption.id === servicelist.customer?.id ? servicelist.customer : customerOption" *ngFor="let customerOption of customers; trackBy: trackCustomerById">{{customerOption.normalized}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.customer?.dirty && editForm.controls.customer?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.customer?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
