<div *ngIf="quizApp" class="row justify-content-center">
    <div class="col-1"></div>
    <div class="col-9">
        <form novalidate>
            <pe-steps>
                <pe-step label="{{quiz.name}}">
                    <div class="row">
                        <div class="col-2">Quiz Progress</div>
                        <div class="col-6">
                            <p-progressBar [styleClass]="'layout-format'" [value]="value"></p-progressBar>
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <h1>Question:{{currentQuestion}}</h1>
                    <h4>{{questionList[(currentQuestion-1)].textQuestion}}</h4>
                    <div *ngFor="let choices of questionList[(currentQuestion-1)].choices">
                            <div class="radio" style="margin-left: 5px;">
                                <label>
                                    <input type="radio" name="type" value="{{choices}}" (click)="onSelect(questionList[(currentQuestion-1)],choices)" #radioBtn >
                                    {{choices.textChoice}}
                                </label>
                            </div>
                    </div>
                    <div *ngIf="isselected && proceed" class="alert alert-success" role="alert">
                        <h3>{{message}}</h3>
                    </div>
                    <div *ngIf="isselected && !proceed" class="alert alert-danger" role="alert">
                        <h3>{{message}}</h3><hr>
                        <h3>Answer Hint: {{restudy}}</h3>
                    </div>
                </pe-step>
            </pe-steps>
        </form>
    </div>
    <div class="col-2"><span>Time Taken: {{ellapsedTime}}</span></div>
</div>
<div *ngIf="!flagCheck">
    <ngx-spinner
        bdColor="rgba(51,51,51,0.95)"
        size="large"
        color="#fff"
        type="square-jelly-box">
    </ngx-spinner>
</div>
<!--<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="quizApp">
            <h2><span jhiTranslate="smartCpdApp.quizApp.detail.title">Quiz App</span> {{quizApp.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="smartCpdApp.quizApp.quiz">Quiz</span></dt>
                <dd>
                    <div *ngIf="quizApp.quiz">
                        <a [routerLink]="['/quiz', quizApp.quiz?.id, 'view']">{{quizApp.quiz?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="smartCpdApp.quizApp.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="quizApp.customer">
                        <a [routerLink]="['/customer', quizApp.customer?.id, 'view']">{{quizApp.customer?.normalized}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="smartCpdApp.quizApp.currSection">Curr Section</span></dt>
                <dd>
                    <div *ngIf="quizApp.currSection">
                        <a [routerLink]="['/section', quizApp.currSection?.id, 'view']">{{quizApp.currSection?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="smartCpdApp.quizApp.newSection">New Section</span></dt>
                <dd>
                    <div *ngIf="quizApp.newSection">
                        <a [routerLink]="['/section', quizApp.newSection?.id, 'view']">{{quizApp.newSection?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="smartCpdApp.quizApp.questions">Questions</span></dt>
                <dd>
                    <span *ngFor="let questions of quizApp.questions; let last = last">
                        <a [routerLink]="['/question', questions?.id, 'view' ]">{{questions.textQuestion}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/quiz-app', quizApp.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>-->
