<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-certificate-heading" jhiTranslate="smartCpdApp.certificate.home.createOrEditLabel">Create or edit a Certificate</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!certificate.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="certificate.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.certificate.timestamp" for="field_timestamp">Timestamp</label>
                    <div class="d-flex">
                        <input id="field_timestamp" type="datetime-local" class="form-control" name="timestamp" [(ngModel)]="timestamp"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.certificate.isEmailed" for="field_isEmailed">Is Emailed</label>
                    <input type="checkbox" class="form-control" name="isEmailed" id="field_isEmailed"
                        [(ngModel)]="certificate.isEmailed" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.certificate.customer" for="field_customer">Customer</label>
                    <select class="form-control" id="field_customer" name="customer" [(ngModel)]="certificate.customer" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customerOption.id === certificate.customer?.id ? certificate.customer : customerOption" *ngFor="let customerOption of customers; trackBy: trackCustomerById">{{customerOption.normalized}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.certificate.courseHistory" for="field_courseHistory">Course History</label>
                    <select class="form-control" id="field_courseHistory" name="courseHistory" [(ngModel)]="certificate.courseHistory"  required>
                        <option *ngIf="!editForm.value.courseHistory" [ngValue]="null" selected></option>
                        <option [ngValue]="courseHistoryOption.id === certificate.courseHistory?.id ? certificate.courseHistory : courseHistoryOption" *ngFor="let courseHistoryOption of coursehistories; trackBy: trackCourseHistoryById">{{courseHistoryOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.courseHistory?.dirty && editForm.controls.courseHistory?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.courseHistory?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
