<div>
    <h2 id="page-heading">
        <span jhiTranslate="smartCpdApp.courseHistory.home.title">Course Histories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-course-history" [routerLink]="['/course-history/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="smartCpdApp.courseHistory.home.createLabel">
            Create new Course History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'smartCpdApp.courseHistory.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="courseHistories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startdate"><span jhiTranslate="smartCpdApp.courseHistory.startdate">Startdate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastactivedate"><span jhiTranslate="smartCpdApp.courseHistory.lastactivedate">Lastactivedate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isactive"><span jhiTranslate="smartCpdApp.courseHistory.isactive">Isactive</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="iscompleted"><span jhiTranslate="smartCpdApp.courseHistory.iscompleted">Iscompleted</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="access"><span jhiTranslate="smartCpdApp.courseHistory.access">Access</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="customer.normalized"><span jhiTranslate="smartCpdApp.courseHistory.customer">Customer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="course.normCourses"><span jhiTranslate="smartCpdApp.courseHistory.course">Course</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let courseHistory of courseHistories ;trackBy: trackId">
                <td><a [routerLink]="['/course-history', courseHistory.id, 'view' ]">{{courseHistory.id}}</a></td>
                <td>{{courseHistory.startdate | date:'medium'}}</td>
                <td>{{courseHistory.lastactivedate | date:'medium'}}</td>
                <td>{{courseHistory.isactive}}</td>
                <td>{{courseHistory.iscompleted}}</td>
                <td>
                    <button class="btn btn-danger btn-sm" (click)="setAccess(courseHistory);" *ngIf="!courseHistory.access">Can Access Again</button>
                    <button class="btn btn-success btn-sm" (click)="setNoAccess(courseHistory);" *ngIf="courseHistory.access">Cannot Access Again</button>
                <td>
                    <div *ngIf="courseHistory.customer">
                        <a [routerLink]="['../customer', courseHistory.customer?.id, 'view' ]" >{{courseHistory.customer?.normalized}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="courseHistory.course">
                        <a [routerLink]="['../course', courseHistory.course?.id, 'view' ]" >{{courseHistory.course?.normCourses}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/course-history', courseHistory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/course-history', courseHistory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'course-history/'+ courseHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
