<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-merge-function-heading" jhiTranslate="smartCpdApp.mergeFunction.home.createOrEditLabel">Create or edit a Merge Function</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!mergeFunction.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="mergeFunction.id" readonly />
                </div>
                <!--<div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.mergeFunction.datetime" for="field_datetime">Datetime</label>
                    <div class="input-group">
                        <input id="field_datetime" type="text" class="form-control" name="datetime" ngbDatepicker  #datetimeDp="ngbDatepicker" [(ngModel)]="mergeFunction.datetime"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datetimeDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.datetime?.dirty && editForm.controls.datetime?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.datetime?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.mergeFunction.note" for="field_note">Note</label>
                    <input type="text" class="form-control" name="note" id="field_note"
                        [(ngModel)]="mergeFunction.note" required/>
                    <div [hidden]="!(editForm.controls.note?.dirty && editForm.controls.note?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.note?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.mergeFunction.tobeRemoved" for="field_tobeRemoved">Tobe Removed</label>
                    <select class="form-control" id="field_tobeRemoved" name="tobeRemoved" [(ngModel)]="mergeFunction.tobeRemoved"  required>
                        <option *ngIf="!editForm.value.tobeRemoved" [ngValue]="null" selected></option>
                        <option [ngValue]="customerOption.id === mergeFunction.tobeRemoved?.id ? mergeFunction.tobeRemoved : customerOption" *ngFor="let customerOption of customers; trackBy: trackCustomerById">{{customerOption.id}}: {{customerOption.normalized}} : {{customerOption.user.login}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.tobeRemoved?.dirty && editForm.controls.tobeRemoved?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tobeRemoved?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.mergeFunction.replacement" for="field_replacement">Replacement</label>
                    <select class="form-control" id="field_replacement" name="replacement" [(ngModel)]="mergeFunction.replacement"  required>
                        <option *ngIf="!editForm.value.replacement" [ngValue]="null" selected></option>
                        <option [ngValue]="customerOption.id === mergeFunction.replacement?.id ? mergeFunction.replacement : customerOption" *ngFor="let customerOption of customers; trackBy: trackCustomerById">{{customerOption.id}}: {{customerOption.normalized}} : {{customerOption.user.login}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.replacement?.dirty && editForm.controls.replacement?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.replacement?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
