<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-company-request-heading">Fill this form to submit your company/organization info in our database</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!companyRequest.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="companyRequest.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.companyRequest.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="companyRequest.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.companyRequest.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="companyRequest.description" required/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.companyRequest.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone" placeholder="(123) 123-1234"
                        [(ngModel)]="companyRequest.phone" required pattern="^(\([0-9]{3}\) |[0-9]{3}-)[0-9]{3}-[0-9]{4}$"/>
                    <div [hidden]="!(editForm.controls.phone?.dirty && editForm.controls.phone?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.phone?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.phone?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Phone' }">
                            This field should follow pattern for "Phone".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.companyRequest.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="companyRequest.email" required/>
                    <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="form-control-label">Enter Your Address</label>
                    <!--<input type="text" placeholder="Search for Location" autocomplete="foo" autocorrect="off" autocapitalize="off" spellcheck="off" class="form-control" #search>-->
                    <input ngx-google-places-autocomplete type="text" class="form-control" placeholder="Search for Location" #placesRef="ngx-places" (onAddressChange)="onChange($event)"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.companyRequest.streetAddress" for="field_streetAddress">Street Address</label>
                    <input type="text" class="form-control" name="streetAddress" id="field_streetAddress"
                        [(ngModel)]="companyRequest.streetAddress" placeholder=" {{addr}}" disabled="true" required/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.companyRequest.postalCode" for="field_postalCode">Postal Code</label>
                    <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                        [(ngModel)]="companyRequest.postalCode" placeholder=" {{postCode}}" disabled="true" required/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.companyRequest.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                        [(ngModel)]="companyRequest.city" placeholder=" {{city}}" disabled="true" required/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.companyRequest.stateProvince" for="field_stateProvince">State Province</label>
                    <input type="text" class="form-control" name="stateProvince" id="field_stateProvince"
                        [(ngModel)]="companyRequest.stateProvince" placeholder=" {{state}}" disabled="true" required/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.companyRequest.country" for="field_country">Country</label>
                    <input type="text" class="form-control" name="country" id="field_country"
                        [(ngModel)]="companyRequest.country" placeholder=" {{country}}" disabled="true" required/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.companyRequest.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url" placeholder="Do not include http:// or https://, it should start with www.domain.com or domain.com"
                        [(ngModel)]="companyRequest.url" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartCpdApp.companyRequest.licenceCycle" for="field_licenceCycle">Licence Cycle</label>
                    <select class="form-control" name="licenceCycle" [(ngModel)]="companyRequest.licenceCycle" id="field_licenceCycle" required>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
