<nav class="navbar navbar-dark navbar-expand-lg jh-navbar">
<div class="jh-logo-container float-left">
    <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <fa-icon [icon]="'bars'"></fa-icon>
    </a>
    <a class="navbar-brand logo float-left" routerLink="/" (click)="collapseNavbar()">
        <span class="logo-img navbar-title"></span>
        <!--<span jhiTranslate="global.title" class="navbar-title">SmartCPD</span> <span class="navbar-version">{{version}}</span>-->
    </a>
</div>
<div *ngIf="moveToOtherSite && !passwordReset">
    <h3 style="color: cornsilk;">Thanks, you will be redirected to our application in {{countDown}} seconds</h3>
</div>
    <div *ngIf="moveToOtherSite && passwordReset">
        <h3 style="color: cornsilk;">Kindly change your password in {{countDown}} seconds, you will be redirected when timer runs out.</h3>
    </div>
<div>
    <div *ngIf="!moveToOtherSite" class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <span>
                        <fa-icon [icon]="'home'"></fa-icon>
                        <span jhiTranslate="global.menu.home">Home</span>
                    </span>
                </a>
            </li>-->
            <li *jhiHasAnyAuthority="'ROLE_USER'">
                <a class="nav-link" routerLink="company" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                    <fa-icon [icon]="'hands-helping'" [fixedWidth]="true"></fa-icon> Clients
                </a>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_USER'">
                <a class="nav-link" routerLink="topic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                    <fa-icon [icon]="'atlas'" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.topic">Topic</span>
                </a>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_USER'">
                <a class="nav-link" routerLink="course" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                    <fa-icon [icon]="'chalkboard-teacher'" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.course">Course</span>
                </a>
            </li>
            <a *ngIf="!adminRole && !userRole">
                <li>
                    <a class="nav-link" routerLink="company" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                        <fa-icon [icon]="'hands-helping'" [fixedWidth]="true"></fa-icon> Clients
                    </a>
                </li>
            </a>
            <a *ngIf="!adminRole && !userRole">
                <li>
                    <a class="nav-link" routerLink="topic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                        <fa-icon [icon]="'atlas'" [fixedWidth]="true"></fa-icon>
                        <span jhiTranslate="global.menu.entities.topic">Topic</span>
                    </a>
                </li>
            </a>
            <a *ngIf="!adminRole && !userRole">
                <li>
                    <a class="nav-link" routerLink="course" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                        <fa-icon [icon]="'chalkboard-teacher'" [fixedWidth]="true"></fa-icon>
                        <span jhiTranslate="global.menu.entities.course">Course</span>
                    </a>
                </li>
            </a>
            <li *jhiHasAnyAuthority="['ROLE_USER','ROLE_ADMIN']">
                <a class="nav-link" routerLink="servicelist" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                    <fa-icon [icon]="'info-circle'" [fixedWidth]="true"></fa-icon> Professional Services
                </a>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_USER'">
                <a class="nav-link" routerLink="company-request/new" (click)="collapseNavbar()">
                    <span>
                        <fa-icon [icon]="'heart'"></fa-icon> Request Form
                    </span>
                </a>
            </li>
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <span>
                        <fa-icon [icon]="'shopping-bag'"></fa-icon>
                        <span>
                            Orders Data
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *jhiHasAnyAuthority="'ROLE_ADMIN'">
                        <a class="dropdown-item" routerLink="course-cart-bridge" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.courseCartBridge">Course Cart Bridge</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="orders" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.orders">Orders</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="cart" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.cart">Cart</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <span>
                        <fa-icon [icon]="'user-alt'"></fa-icon>
                        <span>
                            Customers Data
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *jhiHasAnyAuthority="'ROLE_ADMIN'">
                        <a class="dropdown-item" routerLink="customer" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.customer">Customer</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="company" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.company">Company</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="cart" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.cart">Cart</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="'ROLE_ADMIN'">
                        <a class="dropdown-item" routerLink="course-cart-bridge" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.courseCartBridge">Course Cart Bridge</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="time-course-log" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.timeCourseLog">Time Course Log</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="servicelist" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.servicelist">Servicelist</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="merge-function/new" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Merge Records</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <span>
                        <fa-icon [icon]="'university'"></fa-icon>
                        <span>
                            Management - Courses
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="topic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.topic">Topic</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="course" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.course">Course</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="'ROLE_ADMIN'">
                        <a class="dropdown-item" routerLink="section" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.section">Section</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="'ROLE_ADMIN'">
                        <a class="dropdown-item" routerLink="quiz" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.quiz">Quiz</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="'ROLE_ADMIN'">
                        <a class="dropdown-item" routerLink="question" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.question">Question</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="'ROLE_ADMIN'">
                        <a class="dropdown-item" routerLink="choice" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.choice">Choice</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="'ROLE_ADMIN'">
                        <a class="dropdown-item" routerLink="tags" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.tags">Tags</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="'ROLE_ADMIN'">
                        <a class="dropdown-item" routerLink="bookmark" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.bookmark">Bookmark</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="'ROLE_ADMIN'">
                        <a class="dropdown-item" routerLink="quiz-app" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.quizApp">Quiz App</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="'ROLE_ADMIN'">
                        <a class="dropdown-item" routerLink="legacy-courses" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Legacy Courses [Canadian]</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <span>
                        <fa-icon [icon]="'history'"></fa-icon>
                        <span>
                            Logs Data
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="course-history" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.courseHistory">Course History</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="section-history" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.sectionHistory">Section History</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="quiz-history" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.quizHistory">Quiz History</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="time-course-log" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.timeCourseLog">Time Course Log</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="question-history" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.questionHistory">Question History</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'">
                <a class="nav-link" routerLink="company-request" (click)="collapseNavbar()">
                    <span>
                        <fa-icon [icon]="'heart'"></fa-icon> Company Requests
                    </span>
                </a>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_USER'" class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="dashboards" (click)="collapseNavbar()">
                        <span>
                            <fa-icon [icon]="'history'"></fa-icon> Dashboard
                        </span>
                </a>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <fa-icon [icon]="'user-plus'"></fa-icon>
                        <span jhiTranslate="global.menu.admin.main">Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'user'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/jhi-tracker" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'eye'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.tracker">User tracker</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/jhi-metrics" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'tachometer-alt'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/jhi-health" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'heart'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.health">Health</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/jhi-configuration" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'list'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'bell'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.audits">Audits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'tasks'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.logs">Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'book'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="elasticsearch-reindex" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>&nbsp;
                            <span jhiTranslate="global.menu.admin.elasticsearch-reindex">Elasticsearch Reindex</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"  routerLink="file-manager" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'hdd'" [fixedWidth]="true"></fa-icon>
                            <span>File Server</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    <li>
                        <a class="dropdown-item" href='https://www.cleardb.com/login.view' target="_tab" (click)="collapseNavbar()">
                            <fa-icon [icon]="'hdd'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.database">Database</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href='https://cloud.elastic.co/login?redirectTo=%2Fdeployments' target="_tab" (click)="collapseNavbar()">
                            <fa-icon [icon]="'search'" [fixedWidth]="true"></fa-icon>
                            <span>ElasticSearch</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href='https://dashboard.heroku.com/apps/ace-online' target="_tab" (click)="collapseNavbar()">
                            <fa-icon [icon]="'search'" [fixedWidth]="true"></fa-icon>
                            <span>Heroku</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages && languages.length > 1">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
                    <span>
                        <fa-icon [icon]="'flag'"></fa-icon>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            <li *jhiHasAnyAuthority="['ROLE_USER', 'ROLE_ADMIN']" ngbDropdown class="nav-item dropdown pointer right" placement="bottom-right" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                    <span *ngIf="!getImageUrl()">
                        <fa-icon [icon]="'user'"></fa-icon>
                        <span jhiTranslate="global.menu.account.main">
                            Account
                        </span>
                    </span>
                    <span *ngIf="getImageUrl()">
                        <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'wrench'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'clock'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <fa-icon [icon]="'sign-out-alt'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <fa-icon [icon]="'sign-in-alt'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'user-plus'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
            <a *ngIf="!adminRole&&!userRole" class="notloggedin">
                <li class="nav-item" >
                    <a class="nav-link" (click)="anonymousLogin()">
                        <fa-icon [icon]="'sign-in-alt'" [fixedWidth]="true"></fa-icon>
                        <span>Login</span>
                    </a>
                </li>
            </a>
            <a *ngIf="!adminRole&&!userRole">
                <li class="nav-item">
                    <a class="nav-link" routerLink="register" routerLinkActive="active">
                        <fa-icon [icon]="'user-plus'" [fixedWidth]="true"></fa-icon>
                        <span>Register</span>
                    </a>
                </li>
            </a>
            <li *jhiHasAnyAuthority="'ROLE_USER'" class="nav-item">
                <a *ngIf="!cartAnimation" class="nav-link" routerLink="/checkout" (click)="collapseNavbar()">
                    <span><fa-icon class="fa-lg" [icon]="'shopping-cart'"></fa-icon></span>
                </a>
                <a *ngIf="cartAnimation" style="margin-top: -5%" class="nav-link" routerLink="/checkout" (click)="collapseNavbar()">
                    <span><fa-icon style="color: mediumvioletred;" class="fa-2x" [icon]="'shopping-cart'"></fa-icon></span>
                </a>
            </li>
        </ul>
    </div>
</div>
</nav>

