<div>
    <h2 id="page-heading">
        <span>Terms of Service</span>
    </h2>
    <div>
        <ol>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Cras iaculis nulla at velit sollicitudin, facilisis fringilla lectus aliquet.</li>
            <li>Curabitur ut nisi iaculis, egestas tellus sit amet, tempus ante.</li>
            <li>Sed ac urna ac lectus mattis bibendum non ac nisl.</li>
            <li>Vivamus a magna quis nibh viverra eleifend ut nec augue.</li>
            <li>Nulla luctus odio vitae elit feugiat, sit amet blandit magna feugiat.</li>
            <li>Sed eget velit ut turpis rutrum iaculis eget rutrum eros.</li>
            <li>Sed sollicitudin nunc vitae quam efficitur tincidunt.</li>
            <li>Morbi vitae dui non ligula vulputate interdum ac vel libero.</li>
            <li>Integer tempus nibh a elementum vehicula.</li>
            <li>Sed id odio nec risus fringilla vulputate.</li>
            <li>In vel lorem ultrices mauris iaculis rhoncus eget quis ligula.</li>
            <li>Proin blandit lacus vel turpis feugiat facilisis.</li>
            <li>Donec vel tellus nec massa congue cursus posuere ac sapien.</li>
            <li>Proin hendrerit dui vitae augue pellentesque, dignissim convallis tellus lacinia.</li>
            <li>Duis convallis nibh id nulla dapibus suscipit.</li>
            <li>Vivamus viverra nibh eu mauris pharetra, vitae feugiat augue sagittis.</li>
            <li>Quisque ullamcorper elit eget velit rutrum malesuada.</li>
            <li>Duis tincidunt dui quis ex maximus, at egestas dui semper.</li>
            <li>Maecenas at dui at lectus finibus fermentum.</li>
            <li>Ut vehicula leo at sollicitudin vulputate.</li>
            <li>Mauris sed eros rutrum purus tempus pretium sed a orci.</li>
            <li> Quisque sollicitudin risus sed tincidunt mollis.</li>
            <li>Vestibulum et mauris nec tortor eleifend vestibulum.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        </ol>
    </div>
</div>
